.pointer{
  cursor: pointer;
  *{
    cursor: pointer;
  }
}
.f44 {
  font-size: 44px !important;
}

body .ui-inputtext {
  padding: 4px !important;
}

.selected {
  border: 1px dashed $gray-light
}

