<div class="row">
  <div class="col-sm-3">
    <p-slider [(ngModel)]="width" ></p-slider>
    <small class="text-muted">Изменение ширины</small>
  </div>
  <div class="col-sm-1">
    <span class="size-width">{{width}} %</span>
  </div>
  <div class="col-sm-1">
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <p-slider [(ngModel)]="height" ></p-slider>
    <small class="text-muted">Изменение высоты</small>
  </div>
  <div class="col-sm-3">
    <span class="size-width">{{height}} %</span>
  </div>
</div>



